play-service-account*.json
*.jks
*.keystore
/app/build/
/local.properties
.DS_Store
.idea/
.gradle/
/build/
/captures/
.externalNativeBuild
.cxx/
*.iml
*.hprof
*.log
*.orig
*.rej
*.swo
*.swp
*.tmp
*.bak
*.backup
*.diff
*.patch
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.exe
./gradle/
gradle-wrapper.jar
gradle-wrapper.properties
gradle-wrapper.log
gradle-wrapper.bat
gradle-wrapper.sh
gradlew
gradlew.bat
gradlew.sh  
app/release/
app/build/